/*
Written by Georgi Olentsenko for NumSeq project
Started 2021-09-27
*/

h2, h4 {
  margin: 10px;
}

#numseq_control {
	margin-top: 10px;
}

/* Button config */
#button_start_stop {
    background-color: #4CAF50;
    color: black;
	padding: 5px 10px;
	border-radius: 8px;
	width: 100px;
	display: inline-block;
	text-align: center;
}

/* Change the color of links on hover */
#button_start_stop:hover {
    background-color: #ffaa00;
    color: white;
}

input {
  font-size: 100%;
}